@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: #B7D9B1;
    --color-primary-50: #f4f9f3;
    --color-primary-100: #e5f2e2;
    --color-primary-200: #cee6c8;
    --color-primary-300: #c2dfbd;
    --color-primary-350: #aad1a4;
    --color-primary-400: #93c38b;
    --color-primary-450: #72a46a;
    --color-primary-500: #B7D9B1;
    --color-primary-600: #51854a;
    --color-primary-700: #426c3c;
    --color-primary-800: #355630;
    --color-primary-900: #2c4728;
    --color-primary-950: #142412;
    
    --color-surface: #FDFDFC;
    --color-surface-dark: #0a0a0a;
    --color-surface-hover: #f4f9f3;
    
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-heading: 'Outfit', ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #c2dfbd;
        border-radius: 20px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #93c38b;
    }
}